pytorch-lightning==1.2.10
datasets==3.0.1
transformers==4.45.2
scikit-learn==0.24.2
numpy==1.24.4
wandb
torchmetrics
matplotlib
seaborn
hydra-core==1.1.0
hydra_colorlog
dvc
onnx
onnxruntime